.profile {
  display: grid;
  grid-template-areas:
    'user user'
    'contact contact'
    'owned participated';
  align-content: stretch;
}

.userInfo {
  grid-area: user;
}

.contractInfo {
  grid-area: contact;

  &__ownerInput {
    width: 30em;
  }
}

.ownedBets {
  grid-area: owned;
  width: 400px;
  height: 400px;
  background-color: red;
}

.participatedBets {
  grid-area: participated;
  width: 400px;
  height: 400px;
  background-color: green;
}

