.container {
  display: grid;
  justify-content: stretch;
  height: 100vh;
  grid-template-areas:
    'header'
    'content'
    'footer';
  grid-template-rows: 50px 1fr 25px;
  align-content: stretch;
}

.header {
  background-color: yellow;
  grid-area: header;
}

.content {
  background-color: green;
  grid-area: content;
}

.footer {
  background-color: pink;
  grid-area: footer;
}
