.container {
  display: grid;
  justify-content: stretch;
  height: 100vh;
  grid-template-areas:
    'header'
    'content'
    'footer';
  grid-template-rows: 50px 1fr 25px;
  align-content: stretch;
}

.header {
  background-color: yellow;
  grid-area: header;
  text-align: center;
}

.content {
  background-color: green;
  grid-area: content;
  overflow: auto;
  height: calc(~"100vh -" 75px);
}

.footer {
  background-color: pink;
  grid-area: footer;
}

.menu li{
  float: left;
  margin-right: 20px;
  list-style-type: none;
}

#description-container, #options-container{
  padding: 0px 10px;
}

#options-container{
  margin-left: 15px;
}

.form-description{
  width: 50%;
  padding: 8px 20px;
  margin: 8px 10px;
  box-sizing: border-box;
}

.option-input {
  width: 50%;
  padding: 8px 20px;
  margin: 8px 10px;
  box-sizing: border-box;
}

#create-form{
    text-align: center;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}